

@font-face {
    font-family: 'Lato-Medium';
    src: url('../font/lato/Lato-Medium.eot');
    src: url('../font/lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/lato/Lato-Medium.woff2') format('woff2'),
    url('../font/lato/Lato-Medium.woff') format('woff'),
    url('../font/lato/Lato-Medium.ttf') format('truetype'),
    url('../font/lato/Lato-Medium.svg#Lato-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Black';
    src: url('../font/lato/Lato-Black.eot');
    src: url('../font/lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('../font/lato/Lato-Black.woff2') format('woff2'),
    url('../font/lato/Lato-Black.woff') format('woff'),
    url('../font/lato/Lato-Black.ttf') format('truetype'),
    url('../font/lato/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}
body {
  min-height: 100%;
  font-family: 'Lato-Medium', sans-serif;
}
nav {
  background: #eaebec;
  min-height: 85px;
  font-size: 14px;
}
.navbar{
    background-color: #805b5b;
}
h2.text-center {
    font-family: 'Lato-Black', sans-serif;
    color: #805b5b;
    font-size: 3em;
}
h3.text-center {
    font-family: 'Lato-Black', sans-serif;
    color: #805b5b;
    font-size: 2em;
}
.img-hab{
    margin-bottom: 20px;
}
.login-form .btn{
    background-color: #805b5b;
    border: none;
}
.login-form a{
    color:#805b5b;
}
.login-form {
    color:#805b5b;
    height: 500px;
}
.login-form .btn:hover{
    background-color: #6d4d4d;
    border: none;
}

.login-form input[type=text]{
    font-size: 16px;
}
.login-form input[type=email]{
    font-size: 16px;
}
.login-form input[type=password]{
    font-size: 16px;
}
.foot{
    background-color: #bdbfc1;
    color:white;
}
.head-user{
    padding-top: 30px;
    height: 180px;
}
/*
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: gray;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: blue;
  background-color: green;
}
*/